<p id="notice"><%= notice %></p>

<p>
  <strong>Container type:</strong>
  <%= @container.container_type %>
</p>

<%= link_to 'Edit', edit_container_path(@container) %> |
<%= link_to 'Back', containers_path %>
